<div class="row mt-4 mb-2">
    <div class="col">
        <h2>Проверки</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="{{ url_for('checks.create', { 'url_id': urlId }) }}" method="post">
            <button class="btn btn-primary" type="submit">Запустить проверку</button>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <table class="table table-bordered table-responsive table-hover" data-test="checks">
            <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            {% for check in checks %}
            <tr>
                <td>{{ check.getId }}</td>
                <td>{{ check.statusCode }}</td>
                <td>{{ check.getH1 }}</td>
                <td>{{ check.getTitle }}</td>
                <td>{{ check.getDescription }}</td>
                <td>{{ check.getCreatedAt }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>